
body{
  margin-top: 15px;
  font-family:Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

p,
h1,
h2 {
  margin-top: 0px;
  margin-bottom: 0;
}

img {
  display: block;
}
/* Go */
textarea{
  resize: none;
}

.form{
  width: 450px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  
}
.form-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field input{
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
}
.form-field label{
  margin-bottom: 5px;
  
}
/* .form-field input::placeholder{
  font-size: 14px; чисто для примера как изменить холдер
} */