body {
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

p,
h1,
h2 {
  margin-top: 0px;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}